<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">

	<title> E.E. Americo Franco </title>
	
	<link rel="stylesheet" type="text/css" href="/static/css/default.css">
	<link rel="shortcut icon" href="/static/css/favicon.ico" />
	
	
</head>
<body>
    <img src ="/static/css/escola.jpeg" alt="" id="imagem"></img>
<br>
<a href="https://sed.educacao.sp.gov.br/"> Secretaria Escolar Digital </a>
<br>
<br>
<h1> CRSE </h1>
<h1> Controle de Registros da Secretaria Escolar </h1>
<br>
<br>
<h1> VOCÊ DESCONECTOU COM SUCESSO </h1>
<br>
<br>

<h2><a href="/login"> Voltar. </a></h2>

<p> EE Americo Franco Poá_SP </p>
</body>
</html>
