<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">

	<title> E.E. Americo Franco </title>
	
	<link rel="stylesheet" type="text/css" href="/static/css/default.css">
	<link rel="shortcut icon" href="/static/css/favicon.ico" />
	
	
</head>
<body>
	

<a href="/menu"><img src ="/static/css/escola.jpeg"></img> </a>
<br>

<a href="https://sed.educacao.sp.gov.br/"> Secretaria Escolar Digital </a>

<br>


<h1> BEM VINDO! </h1>
<hr>
<br>
<h2> CRSE</h2>
<h2> Cadastro de Registros da Secreataria Escolar.</h2>
<br>
<br>

 <h1> MENU </h1>
<a href="/alunos"><div id = quadrado>Alunos</div></a>
<a href="/servidores"><div id = quadrado>Servidores</div> </a>
<a href="/materiais"><div id = quadrado>Materiais</div> </a>
<a href="/agendamento"><div id = quadrado>Agendamento</div> </a>
<a href="/devolucao"><div id = quadrado>Devolução</div> </a>
<a href="/sobre"><div id = quadrado>Sobre</div> </a>





</body>
</html>
