<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">

	<title> E.E. Americo Franco </title>
	
	<link rel="stylesheet" type="text/css" href="/static/css/default.css">
	<link rel="shortcut icon" href="/static/css/favicon.ico" />
	
	
</head>
<body>
	<a href="/logout"><button> SAIR</button></a>
	<a href="/menu"><img src ="/static/css/escola.jpeg" alt="" id="imagem"></img></a>
	<br>
	<a href="https://sed.educacao.sp.gov.br/"> Secretaria Escolar Digital </a>
	   
	
	
	<a href="/alunos"><button> ALUNO</button></a>
	<a href="/servidores"><button>SERVIDORES</button></a>
	<a href="/materiais"><button>MATERIAIS</button></a>
	<a href="/agendamento"><button>AGENDAMENTO</button></a>
	<a href="/devolucao"><button>DEVOLUÇÃO</button></a>

	

<form action="/pesquisa_materiais" id="pesquisa" method="post">
   <br>
	<h1> INFORMAÇÕES RÁPIDAS.</h1>
	<br>
	<label>Pesquisa</label>
	<input type="text" name="form_busca" />
	<br>
	<br>

	<button type="submit"   class="btn" id="btn_busca" name ="btn_busca" onclick="pesquisa()"> Pesquisar </button>  
	<br>
	<br>

	<hr> 
	<table id="tabela">
		<thead>
				<th>Ativo nº</th>
				<th>Descrição</th>
				<th>Tipo_Periféricos</th>
				<th>Avarias</th>
				</thead>
			</tr>
			<!-- Variaveis EJS-->
			<% var materiais; %>
			<% materiais.forEach(materiais => { %> 
				<tr>
					<td> <%- materiais.Ativo %></td>
					<td><%- materiais.Descricao %> </td>
					<td><%- materiais.Periferico%></td>
					<td><%- materiais.Avarias %></td>
					</tr>
				
			<% }); %>
			
		</table>
	
	 
	

	</form>


	
<!-- Carregar arquivo JS depois de renderizado HTML-->
<script  src="/script/pesquisa_materiais.js"></script>
</body>

</html>
