<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">

	<title> E.E. Americo Franco </title>
	
	<link rel="stylesheet" type="text/css" href="/static/css/default.css">
	<link rel="shortcut icon" href="/static/css/favicon.ico" />
	
	
</head>
<body>
	
<form>
	<a href="/logout"><button> SAIR</button></a>
	<a href="/menu"><img src ="/static/css/escola.jpeg" alt="" id="imagem"></img></a>
<br>

<a href="https://sed.educacao.sp.gov.br/"> Secretaria Escolar Digital </a>

<br>


<h1> SOBRE ESTE PROJETO: </h1>
<hr>
<br>
<p>  É com satisfação que anunciamos neste canal a futura implementação </p><br>
<p>  na sua INTEGRALIDADE, do que convencionou-se chamar   </p><br>
<p> CRSE (Controle de Registro de Secretaria Escolar).  </p><br>
<p> Uma plataforma completa de apoio a Gestão de Rotinas para Escola Pública. </p><br>
<p> Feita sob demanda e com colaboração de servidores da Escola Américo Franco (Poá_SP).</p><br>
<p> Um projeto idealizado por Estudantes das disciplinas de Computação da UNIVESP </p><br>
<p> UNIVERSIDADE VIRTUAL DO ESTADO DE SÃO PAULO.</p><br>
<p> E construido de maneira voluntária e colaborativa entre integrantes</p><br>
<p> do grupo do Projeo Integrador 2 dos Polos de Poá_SP (sede da escola) e Marilia_SP.</p><br>
<br>
<br>
<p> A Equipe de Desenvolvedores.</p><br>
<br>
<br>
<p>  INTEGRALIDADE.</p><br>
<p> Neste primeiro instante:</p><br>
<p> Suporte a Banco de Dados, em registros e consultas.</p>
<br>
<br>

<p> HISTÓRICO DE ATUALIZAÇÕES:</p><br>
<p> 23/08/2022: Implementação completa do banco de dados.</p>
<br>
<br>
<h2><a href="/menu"> Acesso ao  protótipo. </a></h2>

</form>
</body>
</html>
