 html {
    padding: 50px;
    background-color: whitesmoke;
     background-image: url(/static/css/aviso.jpeg);
     background-size: 1500px;
     }
img{

   width: auto;
   height: auto;

    position: relative;

    
 }

 h1{
  text-align: center;
  font-size: 22px;

 }


h2 {
    text-align: center;
    font-size: 12px;

} th, td{
            padding: 10px 20px;
            border: 1px solid #000;
        }
input{
    height: 20px;
     width:300px;
     display:block;
     align-items: center;
      
         }

div.pesquisa input.form_busca{
  height: 20px;
  width: 400px;
  }
  
  label{
     height: 20px;
     width: 50px;
     display:inline;
     
  }
  
 
p{ 
    text-align: left;
    font-size: 12px;
    display: inline;
    position: relative;

    left: 400px;

}
a{
text-align: left;
    font-size: 12px;
    display: inline;

}
 button{
    flood-opacity: 50%;
    align-items: center;
    height: 20px;
    width: 120px;


    
 }

textarea{
    height: 40px;
    width: 900px;

}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 900px;
    
}
.right {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 900px;
}
.right table {
  border: 1px solid white;
  margin-left: 60px;
}
.right table thead tr th {
  border: 1px solid white;
  outline: solid white;
}
.right table thead tr th {
  margin-right: 100px;
}


#quadrado {
  width: 200px;
  height: 100px;
  font-size: 20px;
  font-size-adjust: inherit;
  color: black;
  
  margin:20px;
  text-align:center;
  display:  block;
  border: 1px solid;
  border-color: black;
}




